html {
    height: 100vh;
}

body {
    background-color: #6A8E7F;
    display: flex; 
    flex-direction: column;
    height: 100%;
    margin: 0; 
}

header {
    width: 100%;
}

.nav-container {
    
}

